{
  "editor.formatOnSave": true,
  "editor.tabSize": 4,
  "prettier.tabWidth": 4,
  "editor.insertSpaces": true,
  "prettier.singleQuote": true,
  "prettier.semi": true,
  "prettier.trailingComma": "es5",
  "prettier.printWidth": 80
}
